* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.oneconteiner {
  padding: 96px 96px 96px 96px;
  background: #ffb8d7;
  width: 1604px;
  margin: 0 auto;
  margin-top: 64px;
}

.hederconteiner {
  padding: 96px 0px;
  background: #fff;
  width: 100%;
  height: 1896px;
}

.blog {
  color: #002afe;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 96px;
}

.Resources {
  color: #181d27;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin-top: 12px;
}

.latest {
  color: #535862;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 24px;
}

.people {
  margin-left: 66px;
  margin-top: 56px;
  display: inline-block;
  vertical-align: middle;
  max-width: 530px;
}

.Design {
  color: #6941c6;
  font-size: 14px;
  font-weight: 600;
  vertical-align: middle;
  max-width: 584px;
  margin-left: 96px;
}

.fullpeople {
  vertical-align: middle;
}

.sulldesign {
  display: inline-block;
  vertical-align: middle;
}

.collaboration {
  color: #181d27;
  font-size: 24px;
  font-weight: 600;
  margin-left: 96px;
  width: 544px;
  margin-top: 8px;
  display: inline-block;
  max-width: 500px;
}

.make {
  color: #535862;
  font-size: 16px;
  font-weight: 400;
  margin-left: 96px;
  width: 584px;
  margin-top: 8px;
}

.svg {
  display: inline-block;
  max-width: 24px;
}

.miansvg {
  max-width: 24px;
  display: inline-block;
  vertical-align: middle;
}

.Avatar {
  border-radius: 9999px;
  border: 0.75px solid rgba(0, 0, 0, 0.08);
  margin-top: 24px;
  margin-left: 96px;
  vertical-align: middle;
}

.Natali {
  color: #181d27;
  font-size: 14px;
  font-weight: 600;
}

.jan {
  color: #535862;
  font-size: 14px;
  font-weight: 400;
}

.fullnatali {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    margin-top: 24px;
}
